
.booking-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 10px;
}

.booking-header {
  margin-top: 1em;
  font-family: "League Spartan", sans-serif;

}

.listing-image{
    width: 40%;
    margin-top: 1em;
    border-radius: 20px;
}

.listing-title{
 margin-top: 1em;
 font-family: "Open Sans", sans-serif;
}

.listing-rating{
  
   
}

.label{
    

}